.container {
  max-width: 960px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex; /* Display the list horizontally */
}

.navi-bar {
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s ease;
  background-color: #fff; /* Set full white background color */
  border: none; /* Remove border */
  margin-right: 10px; /* Add spacing between links */
}

.navi-bar:last-child {
  margin-right: 0; /* Remove margin from the last link */
}

.navi-bar:hover {
  background-color: #f0f0f0;
}

.navi-bar.active {
  background-color: #007bff;
  color: #fff;
}
